*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 100%;
}
html{
    scroll-behavior: auto;
    scroll-behavior: smooth;
    font-family: Arial, Helvetica, sans-serif;
}
/* ---common--- */
.function{
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    max-width: 100%;
}
.m-bottom{
    margin-top: 10px;
    display: none;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}
.clear{
    clear: both;
}
.form-control{
    padding: 6px;
}
.text-center{
    text-align: center;
}
.form-submit-btn{
    cursor: pointer;
    margin-top: 16px;
    background-color: #000;
    color: #fff;
    padding: 10px 15px;
    float: right;
    -webkit-appearance:none;
}
.mg-t{
    margin-top: 8px !important;
}
.text-white{
    color: #fff !important; 
}
.col-half{
    width: 50%;
}
i{
    margin-right: 14px;
}
.col-third{
    width: 33.333%;
}
.col-full{
    width: 100%;
}
.row{
    margin-left: -8px;
    margin-right: -8px;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
/* Header--trang--------------------------------- */
#nav{
    display: inline-block;
}
#header{
    height: 46px;
    background-color: black;
    position: fixed;
    width: 100%;
    max-width: 100%;
    top: 0;
    z-index: 1;
   
}
#nav > li {
    display: inline-block;
}
#nav li{  
    position: relative;
}
#nav > li:hover > a,
.subnav li:hover a{
    background-color: #333;
}
#nav > li > a{
    color: #fff;
}
#nav li a {
    line-height: 46px;
    text-decoration: none;
    display: inline-block;
    padding: 0 24px;
}
#nav li a[href*="#"]{
    color:#fff;
}
#nav .subnav a {
    padding: 0 16px;
}
#nav, .subnav{
    list-style-type: none;
}
#nav .subnav {
    display: none;
    position: absolute;
    background-color: #000;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav li:hover .subnav{
    display: block; 
}
.subnav  li  a{
    /* display: block; */
    color: #000;
    font-weight: 50px;
    width: 100%;
}
.nav-arrow-down{
    font-size: 10px;
}
.searchbutton:hover {
    background-color: #f44336;
}
.searchbutton{
    display: block;
    color: beige;
    float: right;
    line-height: 46px;
    padding: 0 16px;
    cursor: pointer;
}

/* Slider--trang----------------------------- */
#slider{
    margin-top: 46px;
    padding-top: 50%;
    background: url(/assets/img/ny.jpg) top center/cover no-repeat;
    text-align: center;
    /* padding-bottom: 100px; */
    position: relative;
}
#slider .text-content{
    bottom: 47px;
    position: absolute;
    color: #fff;
    /* --cach1--can-giua-- */
    /* left: 50%;
    transform: translateX(-50%);
    text-align: center; */
    /* --cach2--can-giua-- */
    width: 100%;
    /* --cach3--can-giua-- */
    /* right: 0;
    left: 0; */
}
#slider .text-heading{
    font-weight: 500;
    font-size: 24px;

}
#slider .text-description{
    margin-top: 25px;
    text-shadow: 0 0 0 1px #000;
}
/* -----Content----- */
#content .content-section{
    text-align: center;
    margin-left: auto;
    margin-right: auto;    
    padding: 64px 0;
    width: 800px;
    max-width: 100%;
    
}
#content .content-section{
}
.section-heading,
.section-sub-heading,
.about-text{
    padding: 10px 30px;
}  
.section-heading{
    font-weight: 540;
    letter-spacing: 5px;
    
}
.section-sub-heading{
    opacity: 0.3;
    font-style: italic;
    justify-content: center;
}
.about-text{
    text-align: justify;
    line-height: 1.4;

}
.marginleft-9px{
    margin-right:-9px ;
}
/* ---team-section--- */
    .member-list{
        width: 800px;
        margin-right: auto;
        margin-left: auto;
        /* text-align: center; */
    }
.member-list .member-itemp{
    width: 100%;
    /* float: left;
    width: 33.33%; */
    /* text-align: center; */
}
.member-list .member-name{
    margin-top: 50px ;
    margin-bottom: 20px;
    font-size: 15px;
}
.member-list .member-img{
    width: 127px;
    border-radius: 200px;
    margin-bottom: 100px;
}
/* ---tour--- */
.tour-section{
    background-color: #000;
    color: #fff;
    height: 1000px;
    width: 100%;
    display: block;
}
/* ---Tickets-list--- */
.ticket{
    color: #000;
    background-color: #fff;
}
.tickets-list li{
    border-bottom: #333 solid 1px;
    padding: 11px 16px;
    color: #333;
    list-style-type: none;
}
.sold-old,
.quantity{
    float: right;
}
.sold-old{
    background-color: #f44336;
    color: #fff;
    padding: 3px;
    border-radius: 5px;
    font-style: unset;
}
.quantity{
    background-color: #000;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    color: #fff;
    border-radius: 50%;
    margin-top: -3px;
}
.play-list{
    margin-left: -10px;
    margin-right: -10px;
}
.places-list .place-itemp{
    float: left;
    width: 33.333%;
    margin-top: 20px;
    color: #000;
    padding: 0 15px;
}
.place-img{
    width: 100%;
    display: block;
}
.place-body{
    background-color: #fff;
    height: 100px;
    padding: 16px;
    font-size: 15px;
}
.place-heading{
    font-size: 16px;
}
.place-time{
    color: #757575;
}
.place-buy-btn{
    background-color: #000;
    color: #fff;
    padding: 5px;
    text-decoration: none;
    margin-top: 15px;
    display: inline-block;
    border-radius: 5px;
}
.place-buy-btn:hover{
    background-color: #333;
}
/* ---model---- */
.model.open{
    display: flex;
}
.model{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    display: none;
    align-items: center;
    justify-content: center;
}
.model-container{
    background-color: #fff;
    width:900px ;
    max-width: calc(100% - 32px);
    min-height: 200px;
    position: relative;
    animation: modelFaceIn ease .5s;
}

.model-close{
    position: absolute;
    padding: 10px;
    right: 0;
    opacity: 0.8;
}
.model-label{
    display: block;
    font-size: 15px;
}
.body-container  i{
    margin-right: 16px;
}
.body-container label {
    margin: 8px 16px;
}
.model-close:hover{
    background-color: #333;
    cursor: pointer;
}
.model-header{
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 130px;
    font-size: 30px;    
}
.model-heading-icon2{
    margin-right: 16px;
}
.model-input{
    display: block;
    width: 100%;
    height: 35px;
}
.buy-ticket:hover{
    background-color: #757575;
}
.buy-ticket{
    border: none;
    background-color: aqua;
    margin-top: 10px;
    width: 100%;
    height: 45px;
}
.body-container{
    padding: 16px;
    margin-top: 10px;
}
.footer-container .model-footer{
    float: right;
}
@keyframes modelFaceIn {
    from {
        opacity: 0;
        transform: translateY(-250px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
/* ------footer----- */
#footer{

}
/* ---Responsive--- */
/* --Mobile-- */
.menu-bt{
    font-size: 20px;
    display:none;
    color: #fff;
    line-height: 46px;
    /* transform: translate(0px, -18px); */
    padding: 0 21px;
    float: right;
    position: absolute;
    top: 0;
    right: 0;

}
.menu-bt:hover{
    background-color: #333 ;
    /* position: absolute; */
}
